.page-section {
  padding: 20px;
  background-color: #181717;
  margin-bottom: 40px; }

.box {
  background-color: #ccc;
  width: 200px;
  margin: 0 auto;
  border-radius: 50px; }
  .box h1 {
    color: #111; }
    .box h1 span {
      font-size: 40px; }
