.page-section {
  padding: 20px;
  background-color: rgb(24, 23, 23);
  margin-bottom: 40px;
}


.box {

  background-color: #ccc;
  width: 200px;
  margin:0 auto;
  border-radius: 50px;
  h1 {
    color: #111;

    span {
      font-size: 40px;
    }
  }
}

